.header {
    width: 100%;
    height: auto;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .top-bg {
        width: 100%;
        height: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #131014;

        .top-header {
            min-width: 1366px;
            display: flex;
            justify-content: space-between;

            .left-bar {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                text-align: start;
                padding-left: 10px;


                span {
                    font-family: 'poppins';
                    font-weight: 600;
                    font-size: 13px;
                    color: #a5a5a5;
                }
            }

            .right-bar {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;


                .socials {
                    padding-right: 20px;

                    ul {
                        display: flex;




                        li {
                            padding: 5px;

                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }

                .email {



                    p {
                        span {
                            padding-right: 15px;
                            color: #E3A102;
                        }

                        a {
                            color: #a5a5a5;
                        }
                    }
                }
            }
        }
    }

    .main-header-top {
        width: 1366px;
        height: 150px;
        display: flex;
        align-items: center;
        text-align: center;


        .main-header-center {
            width: 100%;
            height: 130px;
            background-color: purple;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            justify-content: space-between;
            border-radius: 0px 0px 10px 10px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);


            .main-header-left {
                width: 30%;
                text-align: left;
            }

            .main-header-right {
                width: 70%;


                .navigation {
                    width: 95%;
                    height: auto;

                    ul {
                        display: flex;
                        gap: 10px;


                        li {
                            position: relative;
                            // background-color: #E4A101;
                            // transform: skewX(-16deg);

                            a {
                                color: white;
                                padding: 15px 23px;
                            }

                            a::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 100%;
                                // transform: skewX(-10deg);
                                z-index: 1;
                                right: 0;
                                margin: 0 auto;
                                // opacity: 1;
                                transform: skewX(-16deg);
                                transition: .3s linear;
                            }

                            // a:hover {
                            //     color: black;

                            // }
                            a.active {
                                color: black;

                            }
                        }

                        // li:hover {
                        //     padding: 15px 20px 15px 20px;
                        //     background-color: #E4A101;
                        //     transform: skewX(-16deg);
                        //     color: black;
                        // }
                    }
                }
            }



        }
    }
}