
* {
  padding: 0;
  margin: 0;
  --primarycolor: #E3A102;
  --primary-family: oxanium;
}

body{
  background-color: #F6F6F6;
}

::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: var(--primarycolor); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the radius of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the scrollbar track */
}

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #606060; /* Set the color of the scrollbar thumb on hover */
// }


a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style-type: none;
}

.for-gamers-main{
  display: flex;
}